html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* prevent adjustment of font size after orientation changes in IE on window phone and in iOS*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*apply natural box layout on all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*------------body-----------------*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/*header*/
header {
  position: relative;
  height: 80px;
  color: #000000;
  font-family: "Lato", sans-serif;
  background-color: #000000;
  border-bottom: 5px solid #312F2D;
  padding: 1rem 4%;
  position: relative; }
  header h3, header p {
    margin: 0px 0px 0px 25px;
    padding-left: 1%;
    font-weight: 700;
    font-size: 20px; }
  header figure.logo {
    position: absolute;
    left: 3%; }
  header p {
    color: #A9A9A9;
    padding: 0px 0px 0px 10px;
    font-size: 12px; }
  header span {
    color: #F9F7F4;
    font-size: 15px;
    font-weight: 300; }

nav {
  /* dropdown */ }
  nav .right-menu {
    float: right;
    position: absolute;
    bottom: 0;
    right: 220px;
    top: 10px;
    margin: 1px; }
  nav li a i {
    border: 4px solid #312F2D;
    border-radius: 3px;
    padding: 11px;
    color: #989288; }
  nav li {
    display: inline-block;
    list-style-type: none;
    margin: 4px; }
  nav .right-menu li:hover {
    background-color: #423E3A;
    border-radius: 6px; }
  nav figure a img {
    float: right;
    height: 50px;
    width: 50px; }
  nav .btn {
    background-color: #312F2D;
    color: white;
    padding: 12px; }
  nav .user {
    position: absolute;
    bottom: 0px;
    top: 5px;
    right: 6px; }
  nav #userdropdown {
    margin-top: 69px;
    width: 280px; }
  nav .user-title {
    padding-left: 29px; }
  nav .downlink li {
    display: inline; }
  nav .downlink li a {
    margin-right: 10px;
    text-decoration: none;
    color: #000000; }
  nav .downlink a i {
    border: none; }
  nav .changeview {
    position: absolute;
    bottom: 0px;
    top: 1px;
    left: 165px; }
  nav .dropdown-item {
    margin: 5px; }
  nav .right-link {
    float: right; }
  nav .right-link i {
    font-size: 10px; }
  nav #hightlight {
    background-color: gold;
    border-radius: 3px;
    font-size: 10px;
    padding: 2px;
    color: #000000; }
  nav .dropdown-menu {
    color: #000000;
    width: 350px;
    height: 300px;
    margin-top: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px; }
  nav .dot-border {
    border-style: dotted;
    margin-left: 18px;
    margin-right: 18px; }
  nav .dropdown-divider {
    border-color: #000000;
    margin-left: 18px;
    margin-right: 18px; }
  nav #dropdown-title {
    font-weight: 700;
    padding-left: 28px; }
  nav .links a {
    display: inline; }
  nav #divider-title {
    font-weight: 700; }

main .outerbanner {
  border-radius: 6px;
  background-color: #f0f0f0;
  margin: 50px 50px; }
  main .outerbanner h1, main .outerbanner h4 {
    text-align: center; }
  main .outerbanner h1 {
    padding-top: 80px;
    font-size: 70px; }
  main .outerbanner h4 {
    font-style: italic;
    font-size: 30px; }
main figure.banner {
  width: 90%;
  margin: 10px auto;
  padding: 20px; }
main figure.banner img {
  width: 100%; }
main .image-banner {
  background-color: white;
  font-size: 25px;
  text-align: center;
  font-style: italic; }
main .timeline-title {
  font-weight: 700; }
main .timeline-items {
  line-height: 1.5;
  list-style-position: inside;
  margin: 10px;
  padding: 5px 5px 5px 100px;
  font-size: 18px; }

footer .footernote h2 {
  margin-top: 35px;
  letter-spacing: 2.8px;
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  text-align: center; }
footer .footernote p {
  margin-top: 20px;
  padding-left: 180px;
  font-size: 20px;
  font-style: italic; }
footer .learnmore {
  margin-top: 35px;
  font-size: 25px;
  text-align: center;
  font-weight: 600; }
footer .learnmore a {
  text-decoration: none; }

/* clearfix: force an element not to collapse*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }
