/* prevent adjustment of font size after orientation changes in IE on window phone and in iOS*/
 html{
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
 }

 /*apply natural box layout on all elements*/
 *{
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
/*------------body-----------------*/
body{
    font-family: $defaultfont;
    font-weight: $normalweight;
    font-size:16px;// whenever if zoom in or zoom out it will take care the base font size
}

/*-----------------header-----------*/


header{
    background-color: $primarycolor;
    color: $secondarycolor;
    padding:1rem $gutter;
    h1{
        font-size: 2rem;
        font-weight: $normalweight;
    }
    h2{
        font-size:1.05rem;
        font-weight: $normalweight;
    }
}
/*-----------------Navigation-----------*/

nav{
    background-color: $secondarycolor;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

ul li{
    float: left;
    width:25%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
ul li:last-child{
    border-right:none;
}
ul li a{
    display: block;
    text-align: center;
    font-weight: $boldweight;
    padding:.5rem 0;
    color:$primarycolor;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease; //this will prevent when hovering of element sudden changes of color
}

ul li.active a{
    background-color: darken($secondarycolor,20%); /*this will darken the active element and different from other element*/
}
ul li a:hover{
    background-color: $primarycolor;
    color:$secondarycolor;
}
// form{
//     float:right;
// }
// form input{
//     width: 6rem;
//     border-radius: 10px;
    
//     margin:5px;
//     padding:.2rem;
//     border:none;
//     transition: width .5s;
// }
// form input:focus{
//     width:15rem;
// }

}
/*-----------------Main-----------*/
main{
    figure.banner{width:100%; 
      
    } /* if you want change the banner size it will help*/
    figure.banner img{width:100%;}      /* this will make the image size visible for the banner according to the mobile scree*/

    


h1{
    font-size: 2rem;
    margin:1rem 0 0 $gutter;
    color:$primarycolor;   
}
h2{
    font-size: 1.5rem;
    margin:.75rem 0 0 $gutter;
    color: lighten($primarycolor, 10%);
}
h3{
    font-size: 1.2rem;
    color: lighten($primarycolor, 20%);

}
p{
    line-height: 130%;
    color:$fontcolor;


}



hr.fadeaway{
    background:linear-gradient(to right,rgba(66,78,100,1) 0%, rgba(66, 78, 100, 0.01)100%); /* this will make the underline border fade at the end*/
    height:2px;
    border:none;
    margin:0 $gutter; /* this will make the border within the width*/
}
figure.photo {width:100%-$gutterdbl; /* here we are subracting guttervalue (total width:104) so that it will not exceed the margin*/ 
    margin: .5rem $gutter; 
    
} /* if you want change the banner size it will help*/

figure.photo img{width:100%;}     /* this will make the image size visible for the banner according to the mobile scree*/

figcaption{
    text-align: center;
    color:$primarycolor;
}

div.blog article{
    margin: .5rem $gutter;
    width:100%-$gutterdbl;
}


div.pop{
    
    background-color: $accent;
    text-align: center;
    clear: both;

padding: 1rem 0;
.title{
    font-size: 2.5rem;
}
.subtitle{
    font-size: 2rem;
    font-weight: $boldweight;
}
.copy{
    margin:5px;
    padding: .5rem 0;
}
.copy span{
    font-size: 3rem;
    color: $primarycolor;
    font-weight: $boldweight;
    padding:5px;
    
}


}
}




/*----------------footer--------------------*/

footer{
    width:100%;
    background-color: $primarycolor;
p{
    text-align: center;
    color:$secondarycolor;
    padding:5px;
}
}




/* clearfix: force an element not to collapse*/
.clearfix:after{
content: "";
display: table;
clear: both;
}


/*footer*/