$primarycolor:#000000;
$font-color:#F9F7F4;
$boldweight:700;
$lightweight:300;
$semibold:600;
$smallbold:400;
 $gutter:1%;
$defaultfont: 'Lato', sans-serif;
$basefont-color:#000000;
$secondaryfont:'Oswald', sans-serif;